/* body{
    width: 100%;
    height: 100%;
} */

#calender{
    text-align: center;
    /* margin: auto; */
    /* width: 80%;
    height: 80%; */
    /* height: 232px; */
    /* display: block; */
    /* display: inline; */
}

#frame{
    margin: auto;
    text-align: center;
    
}

.wraper{
    margin: auto;
    width: 185px;
    /* height: 235px; */
}

#editarea{
    text-align: left;
    width: 97%;
    /* height: 60px; */
    border: 1px solid black;
}

#calender_week{
    background-color: rgb(167, 167, 167);
    color: #fff;
}

.saturday{
    color: blue;
}

.sunday{
    color: red;
}

.today span{
    background-color: yellow;
    border-radius: 50%;
}

#controller{
    text-align: center;
}