#calender{
    text-align: center;
}

#calender_week{
    background-color: rgb(167, 167, 167);
    color: #fff;
}

.saturday{
    color: blue;
}

.sunday{
    color: red;
}

.today{
    background-color: yellow;
}